@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;

}

body {
    /*background-image: url(yellow.jpeg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0d162;
}

.container {
    background-size: 100% 100%;
}

.container .navbar {
    width: 100%;
    height: 80px;
    background-color: #f1dc8e;
}

.container .logo {
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.navbar .logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.navbar .logo i {
    font-size: 30px;
    margin-right: 10px;
    color: #000000;
    margin-left: 10px;
    margin-top: 5px;
}

.navbar .logo i a {
    margin-left: 5px;
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

.navbar ul li a {
    text-decoration: none;
    color: #f3f3f3;
    padding: 6px 13px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 20px;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background-color: #060030;
    transition: 1s;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
}

p {
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.car {
    width: 1200px;
    margin-left: 350px;
    height: 550px;
    border-radius: 10px;
}

.sec {
    width: 1100px;
    height: 100px;
    border: 2px solid white;
    background-color: rgb(255, 253, 253);
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-left: 400px;
}

#alma-birakma {
    display: inline-block;
    margin: 0px 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-top: 18px;
}

select {
    border: none;
    margin-left: 5px;
    padding: 5px;    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
    background-color: transparent;
    border: none;
    margin-left: 5px;
    padding: 5px;
}

input {
    border: none;
    margin-left: 5px;
}

/*.button {
    margin-top: -70px;
   margin-left: 380px;
   position: relative;
   z-index: 1;
}*/

.btn{
    margin-left: 900px;
    width: 150px;
    height: 50px;
    background-color:#000b3d;
    color: white;
    border-radius: 3px;
}

i{
    margin-right: 8px;
}